<!DOCTYPE html>
<html xmls:th="http://www.thymeLeaf.org">

<head>
	<meta charset="UTF-8" />
	<!--<title th:text="${titulo}"></title>-->
	<title>Vcard</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>

	<h2>LISTA VCARDS</h2>


	<table>

		<tbody>
			<tr>
				<td style="background-color: coral;"  align="center">
					<!--Para abrir imagen de mi carpeta statica-->
					<img src="ejemplo.png" alt="Error al cargar imagen"><br>
					LINA MERCEDES<br>
					ORELLANA YUINGAICELA<br>
					ADMIN<br>
					CUENCA - ECUADOR<br>
				</td >
				<td>
				<a href="https://www.w3schools.com/html/html_responsive.asp" target="_blank"><img src="avatar.png" alt="Error al cargar imagen"></a >
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
				</td>
			</tr>
			<tr>
				<td style="background-color: azure;"  align="center">
					<!--Para abrir imagen de mi carpeta statica-->
					<img src="ejemplo.png" alt="Error al cargar imagen"><br>
					LINA MERCEDES<br>
					ORELLANA YUINGAICELA<br>
					ADMIN<br>
					CUENCA - ECUADOR<br>
				</td >
				<td>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
				</td>
			</tr>
			<tr>
				<td style="background-color: beige;"  align="center">
					<!--Para abrir imagen de mi carpeta statica-->
					<img src="ejemplo.png" alt="Error al cargar imagen"><br>
					LINA MERCEDES<br>
					ORELLANA YUINGAICELA<br>
					ADMIN<br>
					CUENCA - ECUADOR<br>
				</td >
				<td>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
				</td>
			</tr>
			<tr>
				<td style="background-color: floralwhite;"  align="center">
					<!--Para abrir imagen de mi carpeta statica-->
					<img src="ejemplo.png" alt="Error al cargar imagen"><br>
					LINA MERCEDES<br>
					ORELLANA YUINGAICELA<br>
					ADMIN<br>
					CUENCA - ECUADOR<br>
				</td >
				<td>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
					ejmeplo 2<hr>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>